{% extends 'main.html' %}
{% load static %}

{% block title %}Регистрация менеджера{% endblock %}

{% block content %}
    <div class="w-100 rounded bg-light p-3">
        <fieldset>
            <div class="row">
                {% for field in form %}
                    <div class="col-md-3">
                        <div class="form-group bg-light">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                {% for field in profile_form %}
                    {% if field.name == 'status_manager' %}
                        <div class="col-md-4">
                            <div class="form-group bg-light">
                                <div class="form-check form-switch">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-3">
                            <div class="form-group bg-light">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endblock %}
