{% extends 'main.html' %}
{% load static %}

{% block title %}Редактирование пользователя{% endblock %}

{% block content %}
    <div class="rounded bg-light px-3 pt-3 pb-3">
        <h2 class="text-center">Редактирование пользователя</h2>
        <form id="edit-user-form" method="post">
            <div class="form-check form-switch">
                {% csrf_token %}
                <div class="container-fluid">
                    <!-- Поля формы form -->
                    <fieldset>
                        <legend>Пользователь</legend>
                        <div class="row">
                            {% for field in form %}
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist text-danger">
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>

                    <!-- Поля формы profile_form -->
                    <fieldset>
                        <legend>Профиль</legend>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.first_name_manager.label_tag }}
                                    {{ profile_form.first_name_manager }}
                                    {% if profile_form.first_name_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.first_name_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.last_name_manager.label_tag }}
                                    {{ profile_form.last_name_manager }}
                                    {% if profile_form.last_name_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.last_name_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.middle_name_manager.label_tag }}
                                    {{ profile_form.middle_name_manager }}
                                    {% if profile_form.middle_name_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.middle_name_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.phone_number_manager.label_tag }}
                                    {{ profile_form.phone_number_manager }}
                                    {% if profile_form.phone_number_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.phone_number_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.date_of_birth_manager.label_tag }}
                                    {{ profile_form.date_of_birth_manager }}
                                    {% if profile_form.date_of_birth_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.date_of_birth_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!-- Данные паспорта -->
                    <fieldset>
                        <legend>Данные паспорта</legend>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.passport_series_manager.label_tag }}
                                    {{ profile_form.passport_series_manager }}
                                    {% if profile_form.passport_series_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.passport_series_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.passport_number_manager.label_tag }}
                                    {{ profile_form.passport_number_manager }}
                                    {% if profile_form.passport_number_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.passport_number_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.division_code_manager.label_tag }}
                                    {{ profile_form.division_code_manager }}
                                    {% if profile_form.division_code_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.division_code_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.issued_by_manager.label_tag }}
                                    {{ profile_form.issued_by_manager }}
                                    {% if profile_form.issued_by_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.issued_by_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    {{ profile_form.issue_date_manager.label_tag }}
                                    {{ profile_form.issue_date_manager }}
                                    {% if profile_form.issue_date_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.issue_date_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ profile_form.dealership_manager.label_tag }}
                                    {{ profile_form.dealership_manager }}
                                    {% if profile_form.dealership_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.dealership_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    {{ profile_form.organization_manager.label_tag }}
                                    {{ profile_form.organization_manager }}
                                    {% if profile_form.organization_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.organization_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12">
                                <div class="form-group">
                                    {{ profile_form.status_manager.label_tag }}
                                    {{ profile_form.status_manager }}
                                    {% if profile_form.status_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.status_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12">
                                <div class="form-group">
                                    {{ profile_form.role_manager.label_tag }}
                                    {{ profile_form.role_manager }}
                                    {% if profile_form.role_manager.errors %}
                                        <div class="text-danger">
                                            {{ profile_form.role_manager.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            </div>
        </form>
    </div>

    <div class="accordion" id="accordionDocuments">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDocuments">
                <button class="accordion-button collapsed rounded bg-light px-3 pt-3 pb-3 " type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseDocuments" aria-expanded="false"
                        aria-controls="collapseDocuments">
                    Загрузка документов
                </button>
            </h2>
            <div id="collapseDocuments" class="accordion-collapse collapse show"
                 aria-labelledby="headingDocuments" data-bs-parent="#accordionDocuments">
                <div class="accordion-body">
                    <div id="upload_file_user">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" id="submit-edit-user" class="btn btn-outline-primary" data-next="{{ request.GET.next }}">
        Сохранить изменения
    </button>
    <a href="{{ request.GET.next }}" class="btn btn-outline-primary">Отмена</a>
    {% if request.user.userprofile.role_manager != 'Менеджер ДЦ' %}
        <button type="button" id="delete-user" class="btn btn-danger" data-next="{{ request.GET.next }}">Удалить
            пользователя
        </button>
    {% endif %}
    <script src="{% static 'users/js/edit_user/send_edit_user_form.js' %}?v=1.0"></script>
    <script src="{% static 'users/js/edit_user/document_management.js' %}?v=1.0"></script>
{% endblock %}
