/* common */
.table {
    border: 1px solid;
}

th a {
    color: black;
    text-decoration: none;
}

.sticky-top {
    top: 20px; /* Adjust the value to your needs */
}

.form-container {
    flex: 1;
}

/* Удаление свечения при загрузке страницы */
.accordion-button:focus, .accordion-button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

/* Удаление активного состояния при перезагрузке */
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
}

.scrollable-block {
    max-height: 80vh; /* Adjust this value to your needs */
    overflow-y: auto;
    padding-right: 15px; /* optional, for better scrollbar appearance */
}

button {
    margin: 3px;
}

/**/

/* sidebar */
html, body {
    height: 100%;
}

body {
    background-color: #eae9e9;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 70px;
    height: 100vh;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020; /* Ensure the sidebar is above other elements */
    transition: all 0.3s;
}

.sidebar .nav-link {
    color: white;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .nav-link .icon {
    font-size: 24px;
    padding-right: 10px;
}

.sidebar .nav-item:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    transform: translateY(30%); /* Центрирование по вертикали */
    background-color: #343a40; /* Adjust background color if necessary */
}

li .dropdown-item {
    background-color: black;
    color: white;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 70px; /* Ensuring the content doesn't get squeezed */
    transition: margin-left 0.3s;
}

footer {
    flex-shrink: 0;
}

/* sidebar end */

/* button index */
.btn-approve {
    background-color: #28a745; /* Зеленый цвет */
    color: white;
}

.btn-request-info {
    background-color: #007bff; /* Синий цвет */
    color: white;
}

.btn-pending {
    background-color: #ffc107; /* Желтый цвет */
    color: black;
}

.btn-error {
    background-color: #ff9800; /* Оранжевый цвет */
    color: white;
}

.btn-reject {
    background-color: #dc3545; /* Красный цвет */
    color: white;
}

/* button index end */

/* tooltip */
.tooltip-custom {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-custom .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 9999; /* Очень высокий z-index */
    bottom: 150%; /* Позиционирует всплывающую подсказку над иконкой */
    left: 50%;
    transform: translateX(-50%); /* Центрирует всплывающую подсказку */
    opacity: 0;
    transition: opacity 0.3s;
    max-height: 150px;
    /*max-width: 200px; !* Максимальная ширина всплывающей подсказки *!*/
    width: auto; /* Автоматическая ширина */
    word-wrap: break-word; /* Перенос длинных слов на следующую строку */
    white-space: normal;
}

.tooltip-custom .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Стрелка снизу всплывающей подсказки */
    left: 50%;
    transform: translateX(-50%); /* Центрирует стрелку */
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-custom:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* tooltip end */

/* ExtraForm */
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.form-check {
    margin-top: 1rem;
}
/* ExtraForm end*/