{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение Inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6-beta.20/jquery.inputmask.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% include "core/templates/core/common_templates/alert_modal.html" %}
{% include "core/templates/core/common_templates/alert_confim_delete_file.html" %}
<div class="wrapper">
    {% if user.is_authenticated %}
        <div id="sidebar" class="sidebar bg-dark text-white p-3">
            <div class="container mt-1">
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#userInfoList" aria-expanded="false" aria-controls="userInfoList">
                    <p class="text-dark">^</p>
                </button>

                <div class="collapse" id="userInfoList">
                    <ul class="list-group" style="width: 250px;">
                        <li class="list-group-item">id: {{ request.user.id }}</li>
                        <li class="list-group-item">Email: {{ request.user.email }}</li>
                        <li class="list-group-item">UserName: {{ request.user.username }}</li>
                        <li class="list-group-item">
                            Dealership: {{ request.user.userprofile.get_active_dealership }}</li>
                        <li class="list-group-item">
                            Organisation: {{ request.user.userprofile.organization_manager }}</li>
                        <li class="list-group-item">Role: {{ request.user.userprofile.role_manager }}</li>
                    </ul>
                </div>
            </div>
            <ul class="nav flex-column">
                <hr>
                <li class="nav-item dropend">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i data-testid="home_icon" class="bi bi-house-door icon"></i>
                    </a>
                </li>
                {% if request.user.userprofile.get_active_dealership %}
                    <li class="nav-item dropend">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i data-testid="icon_new_questionnaire" class="bi bi-file-earmark-plus icon"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a data-testid="new_questionnaire" class="dropdown-item" href="{% url 'car_form' %}">Заявка
                                новая</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_superuser or request.user.userprofile.role_manager == "owner" %}
                    <li class="nav-item dropend">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i data-testid="icon_create_user" class="bi bi-person-plus icon"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a data-testid="create_user" class="dropdown-item" href="{% url 'register' %}">Регистрация
                                менеджера</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropend">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i data-testid="icon_users" class="bi bi-people icon"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a data-testid="users" class="dropdown-item"
                                   href="{% url 'user_list' %}">Пользователи</a></li>
                        </ul>
                    </li>
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128221;</span>#}
                    {#                        <span class="text">Страховой модуль</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128179;</span>#}
                    {#                        <span class="text">Финансирование</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128202;</span>#}
                    {#                        <span class="text">Отчеты</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128209;</span>#}
                    {#                        <span class="text">Отчет по дополнительным услугам</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128188;</span>#}
                    {#                        <span class="text">Отчет по дилерам</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128196;</span>#}
                    {#                        <span class="text">Отчет по сделке</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128200;</span>#}
                    {#                        <span class="text">Воронка продаж общая</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                    {#                <li class="nav-item">#}
                    {#                    <a class="nav-link" href="#">#}
                    {#                        <span class="icon">&#128202;</span>#}
                    {#                        <span class="text">Дубликаты VIN</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <div class="content">
        <header class="bg-secondary text-white p-3">
            <div class="d-flex justify-content-between align-items-center">

                {% block notification %} {% endblock %}
                <div id="notification-bell">
                    <i class="fa fa-bell"></i>
                    <span id="notification-count">0</span>
                </div>

                <ul id="notification-list" style="display: none;">
                    <!-- Уведомления будут добавляться сюда -->
                </ul>
                <div id="header-left">
                    {% block header_left %} {% endblock %}
                </div>
                <div id="header-center">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a data-testid="my_profile" class="nav-link text-white"
                               href="{% url 'edit_user' user.id %}?next={{ request.path }}">
                                Мой профиль
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="header-right">
                    <ul class="nav">
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <button data-testid="dropdown-toggle-button-ds"
                                        class="btn btn-secondary dropdown-toggle" type="button" id="dealershipDropdown"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ request.user.userprofile.get_active_dealership }}
                                </button>
                                <form method="post" action="{% url 'change_active_dealership' %}">
                                    <ul class="dropdown-menu" aria-labelledby="dealershipDropdown">
                                        {% csrf_token %}
                                        {% for dealership in user.userprofile.dealership_manager.all %}
                                            <li>
                                                <button class="dropdown-item" type="submit" name="active_dealership"
                                                        value="{{ dealership.id }}">
                                                    {{ dealership.name }}
                                                </button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </form>
                            </div>
                            <li class="nav-item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" data-testid="exit_button" class="btn btn-primary">Выход
                                    </button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'login' %}">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        <main class="p-3">

            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

{% if user.is_authenticated and request.user.userprofile.get_active_dealership == None %}
    <script type="text/javascript">
        $(document).ready(function () {
            enqueueAlert('У вас нет активного ДЦ. Пожалуйста, выберите его.');
        });
    </script>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<script src="{% static 'js/modal_windows_set.js' %}?v=1.0"></script>
<script src="{% static 'js/inputmask_jquery.js' %}?v=1.0"></script>
<script src="{% static 'js/required_field_light.js' %}?v=1.0"></script>
<script src="{% static 'js/notifications.js' %}?v=1.0"></script>
</body>
</html>
